body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303030;
}

.navbar-div {
	width: 100vw;
	margin: 0;
	padding: 0;
}

.active {
	background-color: #6E6E6E;
}

li {
	float: left;
}

li a {
	display: block;
	color: #DDD;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: black;
}

header {
	background-color: #3D3D3D;	
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.2;
	padding: 2vw 2em;
	text-align: center;
}

header img {
  display: inline-block;
  vertical-align: top;
  height: 240px;
  width: 240px;
}

header h2 {
	text-align: center;
	color: #DDD;
}

.projects {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.2;
	padding: 2vw 2em;
	text-align: center;
}

.odd {
	background-color: #919191;
	color: #DDD;
}

.even {
	background-color: #E2E2E2;
	color: #333;
}

.container {
  display:flex;
  align-items:center;
  flex-direction: row;
}

.container img {
	width: 50vw;
}

button {
	background-color: #3D3D3D;
	color: white;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border: 2px solid #3D3D3D;
	border-radius: 8px;
	cursor: pointer;
}

.odd-button:hover {
	background-color: #919191;
	color: #DDD;
}

.even-button:hover {
	background-color: #E2E2E2;
	color: #333;
}